{% extends "pag_base.html" %}

{% block content %}
<main>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <h1>Bem vindo ao Hotel Fazenda HF</h1>
  <p>Desfrute de uma experiência única em nosso hotel fazenda, cercado pela natureza e com diversas atividades para toda a família.</p>

  <h3>Acomodações</h3>
  <p>Oferecemos confortáveis chalés e apartamentos, com opções para casais e famílias.</p>
    <img src="../static/images/slogan.jpg" alt="Hotel Fazenda Que tal uma escapada com diversão e ar puro?">
    <img src="../static/images/paisagem_1.jpg">
    <img src="../static/images/paisagem_2.jpg">
    <h3>Atividades</h3>
    <p>Em nosso hotel, você pode desfrutar de trilhas ecológicas, passeios a cavalo, pesca esportiva, piscinas, restaurante com comida típica e muito mais.</p>
    <img src="../static/images/cavalos.jpg">

    <h3>Contato</h3>
    <p>Entre em contato conosco para fazer sua reserva ou obter mais informações:</p>
    <ul>
      <li>Telefone: (38) 91234-5678</li>
      <li>E-mail: contato@hotelfazendahf.com</li>
      <li>Endereço: Rua das Flores, 123 - Januária MG</li>
    </ul>
</main>

  <footer>
    &copy; 2023 Hotel Fazenda HF. Todos os direitos reservados.
  </footer>
{% endblock %}




