{% extends "pag_base.html" %}


{% block content %}
<main>
  <h1>Quartos Disponíveis</h1>

  <p>Quartos Casal (Suíte): <b>{{ num_quartos_casal_suite }}</b></p>
  <p>Quartos Casal: <b>{{ num_quartos_casal }}</b></p>
  <p>Quartos Triplo: <b>{{ num_quartos_triplo }}</b></p>

  <p>Dê uma espiada em nossos quartos aconchegantes!</p>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <img src="{% static '/images/casal.jpg' %}" alt="Quarto Casal">
  <img src="{% static '/images/casal_suite.jpg' %}" alt="Quarto Casal Suíte">
  <img src="{% static '/images/triplo.jpg' %}" alt="Quarto Triplo">
</main>
{% endblock %}

<img src="../static/images/slogan.jpg" alt="Hotel Fazenda Que tal uma escapada com diversão e ar puro?">

